<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="header">
        学员增加
    </div>
    <form action="/doAdd" method="post">
        用户名: <input type="text" name="username">
        <br />
        <br />
        性别: <input type="text" name="sex">
        <br />
        <br />
        年龄: <input type="text" name="age">
        <br />
        <br />
        <button type="submit">提交</button>
    </form>
</body>

</html>